*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:rgb(75, 94, 145);

}

.container{
    width: 80vw;
    max-width: 480px;
    /* border: 1px solid rgb(255, 255, 255); */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    background: #47548a;
box-shadow:  5px 5px 10px #3a4470,
     -5px -5px 10px #5464a4;
}

.app-title{
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 1.6rem;
}

#input-container{

    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

#inputform,#predict-btn{
    font-size: 19px;
    padding: 0.4rem 0.6rem;
    border: none;
    outline: 0;
    border-radius: 0.5rem;
}

#inputform{
    color: hsl(180, 1%, 23%);
}

#predict-btn{
    background: #033450;
    color: white;

}


 #info{
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: white;

}
  .male{
    background: rgb(51, 146, 146);
  }
.female{
    background: rosybrown;
}

#inpname{
  font-size: 400;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

#gender-icon{
    width: 4rem;
    color: white;
    margin-bottom: 0.6rem;

}

#gender{
    font-size: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.63rem;
    color: black;
}


/* media screen for mobile screen */

/* @media screen and(max-width:540px) {

    body{
        padding: 2rem;
    }
    .container{
        width: 250px;
        margin:  0 auto;
    }
    
} */